/* ==========================================================================
   Datepicker

   Specific datepicker styling for popupmenu dates-selecter 
========================================================================== */


.mx-datepicker{
   .form-control{
      max-width: 156px;
      padding-right: 40px;
   }
   .mx-button{
      background-color: transparent;
      margin-left: -40px;
      width: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
      aspect-ratio: 1/1;
      color: $icon-button-secondary-default;
      span{
         @extend .POSTNL_Icons;
         &::Before{
            content: "\e928";
            font-size: 1.5rem;
         }
      }
   }
}

.react-datepicker-popper{
   z-index: 999;
}