

/*
==========================================================================
* Datagrid 2.0 - New mendix mx-table component
==========================================================================
*/

// .fa-long-arrow-alt-up{
//     @extend .POSTNL_Icons;
// }
// .fa-long-arrow-alt-down{
//     @extend .POSTNL_Icons;
// }
// .fa-arrows-alt-v{
    
// }


//Pagination sort styling
.column-header.clickable{
    span{
   margin-right: -14px;
    }
 svg{
    //left: -12px;
    background-color: white;
    opacity: 0;
    transition: opacity 0.3s ease-in;
 }
 &:hover{
    svg{
        opacity: 1;
     }
 }
}


.widget-datagrid{

    .btn-calendar{
        @extend .btn-icon-only;
        height: $form-control-input-height;
        max-height: $form-control-input-height;
    }
}
/*
==========================================================================
* Design property
==========================================================================
*/

// List and grid state colors
$row-hover: rgba($brand-primary, 0.6);
$row-focus: rgba($brand-primary, 0.8);
$row-active: transparent;

.table-compact {
    .th {
        padding: $space-xs $space-sm;
    }
    .td {
        padding: $space-xs $space-sm;
    }
}

.table-hover {
    .tr:hover > .td {
        background-color: $row-hover;
    }
}

// Added padding for button states to properly shown
.widget-datagrid-header.header-filters {
    padding: 4px;
}

// the Height of the rows inside a datagrid 2 is set to 56px
.widget-datagrid-grid-body.table-content {
    div.tr > .td {
      height: 56px;
    }
    .td-custom-content {
      align-self: baseline;
          
      }
      :focus {
      // still needs outlining fixed to show or adding padding to td custom content class
    }
  }
  // Set the overflow off from default, focus state will otherwise not show properly
    .widget-datagrid{
        .td {
            .td-custom-content {
                overflow: unset;
            }
        }
    }






  .widget-datagrid {
    &.widget-datagrid-selection-method-click {
        .tr.tr-selected .td {
            background-color: $default-neutral-grey20;
        }
    }
}