/*
==========================================================================
* Datagrid 1&2 generic styling
==========================================================================
*/
$datagrid-bottomborder: 1px solid $border-color-default;

/*
  ==========================================================================
  * Datagrid - default Mendix datagrid 1.0
  ==========================================================================
*/


  // .cta-btn-toolbar {
  //   position: absolute;
  //   margin-top: 10px;
  //   right: $spacing-inner-3xl + 8px;
  //   width: fit-content;
  // }
.mx-datagrid {
  th,
  td {
    border: none;
    border-bottom: $datagrid-bottomborder;
  }
  .mx-grid-content{
    margin-bottom: $spacing-inner-4xl + $spacing-inner-l;
  }
}

.mx-grid-pagingbar {
  position: absolute;
  bottom: 16px;
  left: 0;
}
.pagination-bar {
}
.mx-grid-pagingbar,
.pagination-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin: 0;
  .btn{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: $default-secondary-bluestrong;
    margin-bottom: 6px;
    &:hover{
      color: $icon-button-secondary-pressed;
      text-decoration: underline;
    }
  }
  .btn[disabled]{
    color: $icon-disable;
  }


  //Pagination 
  .paging-status,
  .mx-grid-paging-status {
    font-weight: bold;
    color: $default-secondary-bluestrong;
    display: flex;
    align-items: center;
    height: 40px;
  }

  //Different steps
  .mx-icon-controls-step-backward,
  .step-backward {
    @extend .POSTNL_Icons;
    &:after {
      content: "\e940";
      margin-left: -9px;
    }
    &:before {
      content: "\e940";
    }
  }
  .mx-icon-controls-backward,
  .backward{
    @extend .POSTNL_Icons;
    &:before {
      content: "\e940";
    }
  }
  .mx-icon-controls-forward,
  .forward {
    @extend .POSTNL_Icons;
    &:before {
      content: "\e941";
    }
  }
  .mx-icon-controls-step-forward,
  .step-forward {
    @extend .POSTNL_Icons;
    &:after {
      content: "\e941";
      margin-left: -9px;
    }
    &:before {
      content: "\e941";
    }
  }
}


//Icon replacement of pagination
%pagination-button{
  @extend .POSTNL_Icons;
  visibility: hidden;
  span{
    width: 0px;
  }
}
.pagination-button:has(.step-backward){
  @extend %pagination-button;
  &:after {
    visibility: visible;
    content: "\e940";
    margin-left: -9px;
  }
  &:before {
    visibility: visible;
    content: "\e940";
  }
}

.pagination-button:has(.backward){
  @extend %pagination-button;
  &:before {
    visibility: visible;
    content: "\e940" !important;
  }
}

.pagination-button:has(.forward){
  @extend %pagination-button;
  &:before {
    visibility: visible;
    content: "\e941" !important;
  }
}

.pagination-button:has(.step-forward){
  @extend %pagination-button;
  &:after {
    visibility: visible;
    content: "\e941";
    margin-left: -9px;
  }
  &:before {
    visibility: visible;
    content: "\e941";
  }
}