/*
==========================================================================
* Gallery - New mendix list and grid component
==========================================================================
*/

.widget-gallery-footer{
  margin-top: $spacing-outer-s;
}



/*
==========================================================================
* Design Property
==========================================================================
*/

.widget-gallery-no-styling {
  .widget-gallery-item {
    border: none;
    padding: 0;
  }
} 