/*
==========================================================================
* Inputs - The default form fields
==========================================================================
*/

// input[type="radio"] {
//   accent-color: $icon-selected;
// }

// input[type="checkbox"] {
//   accent-color: $icon-selected;
// }

$form-control-input-height: 42px;

//Basic styling
%form-control-basics {
  height: $form-control-input-height;
}

.widget-datagrid,
.mx-datagrid {
  .form-control {
    @extend %form-control-basics;
  }
}
.form-group {
  .control-label {
    font-size: 1rem;
    line-height: $lineheight-m;
  }
  .form-control {
    @extend %form-control-basics;
    font-size: 1rem;
    padding: $spacing-inner-s $spacing-inner-l;
    border-radius: $border-radius-xs;
    border-color: $border-strong;
    color: $text-default;
    &::placeholder {
      color: $default-neutral-grey70;
    }
    &:has(.btn:hover) {
      border-color: $border-hover; //! To fix, border is not blue when hovering over button of calendar
    }
    &:hover {
      border-color: $border-hover;
    }
    &:focus,
    &:focus-visible {
      border-color: $border-strong;
      box-shadow: none;
      outline: 2px solid $border-focusoutline;
      outline-offset: 1px;
    }
  }
}

//Validation message styling
.form-group:has(.mx-validation-message) {
  .form-control {
    border: 1px solid $border-error;
  }
  .mx-validation-message {
    &:before {
      margin-right: 0.5 * $spacing-outer-xxs;
      content: url("img/Design_System_Module$POSTNL_DualColorIcons$Input_Error.svg");
      transform: scale(0.8);
      height: 20px;
    }
    margin-top: $spacing-outer-xxs;
    color: $text-negative;
    line-height: $lineheight-m;
    font-weight: bold;
    font-size: $fontsize-xxs;
    padding: 0px;
    background-color: transparent;
    border: 0px;
    min-height: 0px;
  }
}

//Select icon override
select.form-control {
  overflow: hidden;
  background: url(img/Design_System_Module%24Images%24dropdown_arrow.svg);
  background-color: #fff;
  background-position: right 12px center;
  background-repeat: no-repeat;
  background-size: 15px;
  -webkit-appearance: none;
}

//Combobox Styling
.widget-combobox-input-container {
  display: flex;
}
.widget-combobox-menu {
}
.widget-combobox-menu-hidden {
}

//* core delta override
.mx-radiobuttons.inline .radio {
  display: flex;
}

// Reset
input[type="radio"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  outline: none;
  content: none;
  margin: 0px;
}

.mx-radiobuttons {
  .control-label{
    font-weight: normal;
  }
input[type="radio"] {
  width: 20px;
  height: 20px;
  border: 1px solid $border-strong;
  appearance: none;
  border-radius: 50%;
  background-clip: content-box;
  padding: 3px;
  &:hover {
    border-color: $border-hover;
  }
  &:focus-visible {
    @extend %button-focus;
  }
  &[disabled] {
    background-color: $background-disabled;
    &:checked {
      background-color: $icon-disable;
      border-color: $border-disabled;
    }
  }
  &:checked {
    background-color: $icon-selected;
  }
}
}
// Datagrid 2 styling 




.clickable.widget-datagrid-col-select {
  padding: 8px;
}

input[type="checkbox"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    outline: none;
    content: none;
    height: 24px;
    width: 24px;
    color: $icon-selected;
    border: 1px solid $border-strong;
    border-radius: $border-radius-xs;
    &[disabled] {
      background-color: $background-disabled;
      border-color: $border-disabled;
      &:checked {
        color: $icon-disable;
      }
    }
    &:focus-visible{
      @extend %button-focus;
      outline-offset: 2.5px;
    }
    &:focus {
      outline: none;
    }
    &:hover {
    border-color: $border-hover;
    }
    // unused :before 
    // &:before { 
    // }
    }
  label {
    font-weight: normal;
  }
  .table input[type="checkbox"]{
    overflow: unset;
  }
  widget-datagrid-grid-body table-content {
    .table .td {

    }
  }
input[type=checkbox]:checked:before {
	content: '\e93e';
  @extend .POSTNL_Icons;
  font-size: 22px;
}

//Checkbox styling
.mx-checkbox {
    input[type="checkbox"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    outline: none;
    content: none;
    height: 24px;
    width: 24px;
    color: $icon-selected;
    border: 1px solid $border-strong;
    border-radius: $border-radius-xs;
    &[disabled] {
      background-color: $background-disabled;
      border-color: $border-disabled;
      &:checked {
        color: $icon-disable;
      }
    }
    &:focus-visible{
      @extend %button-focus;
      outline-offset: 2.5px;
    }
    &:hover {
    border-color: $border-hover;
    }
    // unused :before 
    // &:before { 
    // }
    }
  label {
    font-weight: normal;
  }
}

.mx-checkbox input[type=checkbox]:checked:before {
	content: '\e93e';
  @extend .POSTNL_Icons;
  font-size: 22px;
}


input[type="file"]:focus
// ,input[type="checkbox"]:focus,
//  input[type="radio"]:focus 
{
    outline-offset: 0;
}


// .filter-container{
//   margin-bottom: $spacing-outer-xxs;
// }


/*
==========================================================================
* Inputs - Variations
==========================================================================
*/

// Input field building block with currency input
.currency-input {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-left: -$space-xs;

  .input-left {
    position: relative;
    z-index: 1;
    color: $gray-light;
    left: $space-sm;
    bottom: $space-sm + 0px;

    // Left alignment is the same, regardless of content used in .input-left
    width: $space-xs;
    overflow: visible;

    &:has(+ .has-error) {
      bottom: $space-xxl + $space-xs;
    }
  }

  .form-group {
    flex-grow: 1;
  }

  .form-control {
    padding-left: $space-sm + $space-xxs;

    &:active,
    &:focus {
      padding-left: $space-sm + $space-xxs - 1px;
    }
  }
}

// Input field building block with percentage input
.percentage-input {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-right: -$space-xs;

  .form-control {
    text-align: right;
    padding-right: $space-sm + $space-xs;

    &:active,
    &:focus {
      padding-right: $space-sm + $space-xs - 1px;
    }
  }

  .form-group {
    flex-grow: 1;
  }

  .input-right {
    position: relative;
    z-index: 1;
    color: $gray-light;
    right: $space-sm + $space-xxs;
    bottom: $space-sm + 0px;

    // Right alignment is the same, regardless of content used in .input-right
    width: $space-xs;
    overflow: visible;
  }

  .has-error + .input-right {
    bottom: $space-xxl + $space-xs;
  }
}

/*
==========================================================================
* Design Property
==========================================================================
*/

.input-optional {
  > label {
    &:after {
      content: " (optional)";
      color: $gray-darker;
      font-style: italic;
      font-weight: lighter;
    }
  }
}
