/*
==========================================================================
* Layoutgrid - The default form layoutgrid
==========================================================================
*/

.container,
.container-fluid {
	padding-left: $space-sm;
	padding-right: $space-sm;
}

.row {
	margin-left: -$space-sm;
	margin-right: -$space-sm;
}

//-- Override bootstrap standard
[class^="col-"], [class*=" col-"] {
	padding-right: $space-sm;
	padding-left: $space-sm;
}

@media (max-width: $screen-xs-max) {
	[class^="col-"], [class*=" col-"] {
		padding-right: $space-xs;
		padding-left: $space-xs;
	}
}

/*
==========================================================================
* Layoutgrid Design Properties
==========================================================================
*/

// Remove side gutter in LayoutGrid (See settings.json file)
.mx-layoutgrid {
	&.layoutgrid-no-side,
	.layoutgrid-no-side {
		padding-left: 0;
		padding-right: 0;
	}
}

.mx-layoutgrid {
	.layoutgrid-column-no-padding-left {
		padding-left: 0;
	}

	.layoutgrid-column-no-padding-right {
		padding-right: 0;
	}
}