/*
  ==========================================================================
  * Listview headers
  ==========================================================================
*/
.mx-listview {
  li {
    border-color: $border-color-default;
    background-color: transparent;
    padding: $space-sm;

    &:hover {
      background-color: $gray-lighter;
    }

    &:focus {
      background-color: $gray-lighter;
      outline: none;
    }

    &:active {
      background-color: $gray-primary;
    }
  }
}

// hide listview empty message
.listview-hide-empty .mx-listview-empty {
  display: none;
}

/*
// Listviews with a listview header
// The general sibling selector (~) selects all elements that are siblings of a specified element.
// The adjacent sibling selector (+) doesn't work because of random react scripts. Will need to be changed when the react scripts bug has been fixed by R&D.
*/
.listview-header ~ .mx-listview {
  li:first-child {
    border-top-color: transparent;
  }
}

.listview-header-with-search-and-action {
  margin-bottom: $form-input-padding-y;
  padding-left: 0;

  input.form-control {
    padding: $form-input-padding-y $form-input-padding-x;
  }
}

.listview-header {
  @include grid-header;

  // reset horizontal margin behavior
  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .row {
    .col {
      padding: $space-sm;
    }
  }
}