/* =======================================================================================================================================================
  Fundamentals

  Before making changes to this file, update [companyname]-variables.scss to the name of the company this Design System is intended for.
  Don't forget to update the main.scss files within this folder and the workspace folder also!

  These are the variables / design tokens set for the Design System.
======================================================================================================================================================= */

@import "../../atlas_core/web/variables";

/* 
=============================================================================
* Spacing Definitions

  By default, the spacing is set on an 8pt grid spacing system.
  Overlaps the current layout spacing in _spacing.scss and _mixin.scss.
=============================================================================
*/

// -- Base unit to setup grid spacing system
$space-base-unit: 8px;

// -- Increments of defined base unit - Default
$space-xxs: $space-base-unit * 0.5; // 4px
$space-xs: $space-base-unit; // 8px base unit
$space-sm: $space-base-unit * 2; // 16px
$space-md: $space-base-unit * 3; // 24px
$space-lg: $space-base-unit * 4; // 32px
$space-xl: $space-base-unit * 5; // 40px
$space-xxl: $space-base-unit * 6; // 48px
$space-xxxl: $space-base-unit * 8; // 64px

//PostNL Semantic spacing layer for Padding / Margin
$spacing-inner-xxs: $space-base-unit * 0.25; // 2px
$spacing-inner-xs: $space-base-unit * 0.5; // 4px
$spacing-inner-s: $space-base-unit; // 8px
$spacing-inner-m: $space-base-unit * 1.5; // 12px
$spacing-inner-l: $space-base-unit * 2; // 16px
$spacing-inner-xl: $space-base-unit * 3; // 24px
$spacing-inner-xxl: $space-base-unit * 4; // 32px
$spacing-inner-3xl: $space-base-unit * 5; // 40px
$spacing-inner-4xl: $space-base-unit * 7; // 56px

$spacing-outer-xxs: $space-base-unit; //8px
$spacing-outer-xs: $space-base-unit * 2; //16px
$spacing-outer-s: $space-base-unit * 3; //24px
$spacing-outer-m: $space-base-unit * 5; //40px
$spacing-outer-l: $space-base-unit * 7; //56px
$spacing-outer-xl: $space-base-unit * 11; //88px

 

/* 
=============================================================================
* Border Radius
=============================================================================
*/

$border-radius-xxl: 32px;
$border-radius-xl: 24px;
$border-radius-l: 16px;
$border-radius-m: 8px;
$border-radius-s: 6px;
$border-radius-xs: 4px;
$border-radius-xxs: 2px;

/* 
=============================================================================
* Primitive colors
=============================================================================
*/

//Core - Basic
$default-basic-white: #ffffff;
$default-basic-darkgrey: #1f1e2f;

//Core - Primary
$default-primary-postorange:  #f56900;
$default-primary-blue:        #6161ff;
$default-primary-darkgreen:  #005e35;
$default-primary-deepblue:    #001a73;
$default-primary-midgrey:     #555555;
$default-primary-midorange:   #e75204;

//Core - Secondary
$default-secondary-bluesubtle: #8589FF;
$default-secondary-bluestrong: #4E4EE2;
$default-secondary-midgreen: #008C44;
$default-secondary-darkgreensubtle: #007A45;
$default-secondary-darkgreenstrong: #004728;
$default-secondary-deepbluesubtle: #1232A1;
$default-secondary-deepbluestrong: #001252;
$default-secondary-midgreysubtle: #727272;
$default-secondary-midgreystrong: #454545;
$default-secondary-lightorange: #FF8D00;
$default-secondary-midorangestrong: #CB4315;
$default-secondary-darkorange: #D23416;
$default-secondary-darkorangestrong: #BA2A0F;

//Core - Neutral
$default-neutral-grey70: #67687F;
$default-neutral-grey60: #86889D;
$default-neutral-grey50: #A2A4B4;
$default-neutral-grey40: #BEC0CB;
$default-neutral-grey30: #DDDEE3;
$default-neutral-grey20: #E7E8EB;
$default-neutral-grey10: #F1F1F2;
$default-neutral-blueish-grey: #f3f4f7; //Richard's background suggestion

//Core - Distinct
$default-distinct-blue: #009EE3; 
$default-distinct-green: #00BB53; 
$default-distinct-yellow: #FDD732; 
$default-distinct-red: #EE3261; 
$default-distinct-actionred: #D70036; 

//Core - Misc
$default-misc-orangetint: #FFEDE0;
$default-misc-transparant: rgba(#FFFFFF, 0);
$default-misc-violet: #D05AFF;


//Other variables
$dropshadow-default-down: 0px 2px 6px 0px rgba(#1F1E2F, 15%);
%dropshadow-default-down{
  box-shadow: $dropshadow-default-down;
}
$opacity-mix-subtle: 10%;

/* 
=============================================================================
* Primitive colors (DIM)
=============================================================================
*/
//Core (DIM) -- Core

//Core (DIM) -- Primary

//Core (DIM) -- Secondary

//Core (DIM) -- Neutral

//Core (DIM) -- Misc




/* 
=============================================================================
* Semantic colors
=============================================================================
*/
//Heading
$heading-default:  $default-primary-deepblue;
$heading-brand:  $default-primary-midorange;
$heading-subtle: $default-basic-darkgrey;
$heading-onbrand: $default-basic-white;

//Text
$text-default: $default-basic-darkgrey;
$text-subtle: $default-neutral-grey70;
$text-onbrand: $default-basic-white;
$text-inverse: $default-basic-white;
$text-positive: $default-secondary-midgreen;
$text-negative: $default-distinct-actionred;

//Background
$background-surface: $default-basic-white;
$background-default: $default-neutral-grey20;
$background-variant: $default-neutral-grey10;
$background-brand: $default-primary-postorange;
$background-brandsubtle: $default-primary-midorange;
$background-strong: $default-neutral-grey60;
$background-subtle: $default-neutral-grey30;
$background-inverse: $default-basic-darkgrey;
$background-notification: $default-distinct-actionred;
$background-informative: rgba($default-distinct-blue, $opacity-mix-subtle);
$background-positive: rgba($default-distinct-green, $opacity-mix-subtle);
$background-warning: rgba($default-distinct-yellow, $opacity-mix-subtle);
$background-negative: rgba($default-distinct-red, $opacity-mix-subtle);
$background-disabled: $default-neutral-grey10;

//Border
$border-default: $default-neutral-grey40;
$border-brand: $default-primary-midorange;
$border-strong: $default-neutral-grey70;
$border-informative: $default-distinct-blue;
$border-positive: $default-distinct-green;
$border-warning: $default-distinct-yellow;
$border-negative: $default-distinct-red;
$border-hover: $default-primary-blue;
$border-pressed: $default-primary-deepblue;
$border-selected: $default-primary-midorange;
$border-error: $default-distinct-actionred;
$border-disabled: $default-neutral-grey40;
$border-focusoutline: $default-primary-deepblue;
$border-fallback: $default-misc-transparant;

//Icon
$icon-default: $default-secondary-bluestrong;
$icon-brand: $default-primary-midorange;
$icon-strong: $text-default;
$icon-subtle: $default-neutral-grey60;
$icon-onbrand: $default-basic-white;
$icon-sustainable: $default-distinct-green;
$icon-informative: $default-distinct-blue;
$icon-positive: $default-distinct-green;
$icon-warning: $default-distinct-yellow;
$icon-negative: $default-distinct-red;
$icon-hover: $default-secondary-bluestrong;
$icon-pressed: $default-primary-deepblue;
$icon-selected: $default-primary-midorange;
$icon-disable: $default-neutral-grey40;
$icon-accent-default: $default-basic-white;
$icon-accent-inverse: $default-basic-darkgrey;

/* 
=============================================================================
* Component-specific
=============================================================================
*/
//Button - Primary
$text-button-primary-default: $default-basic-white;
$text-button-primary-pressed: $default-basic-white;
$background-button-primary-default: $default-primary-blue;
$background-button-primary-pressed: $default-primary-deepblue;
$border-button-primary-default: $default-misc-transparant;
$border-button-primary-pressed: $default-misc-transparant;
$icon-button-primary-default: $default-basic-white;
$icon-button-primary-pressed: $default-basic-white;

//Button - Secondary
$text-button-secondary-default: $default-secondary-bluestrong;
$text-button-secondary-pressed: $default-primary-deepblue;
$background-button-secondary-default: $default-misc-transparant;
$background-button-secondary-pressed: $default-misc-transparant;
$border-button-secondary-default: $default-primary-blue;
$border-button-secondary-pressed: $default-primary-deepblue;
$icon-button-secondary-default: $default-secondary-bluestrong;
$icon-button-secondary-pressed: $default-primary-deepblue;

//Button - Tertiary
$text-button-tertiary-default: $default-secondary-bluestrong;
$text-button-tertiary-pressed: $default-primary-deepblue;
$background-button-tertiary-default: $default-misc-transparant;
$background-button-tertiary-pressed: $default-misc-transparant;
$border-button-tertiary-default: $default-misc-transparant;
$border-button-tertiary-pressed: $default-misc-transparant;
$icon-button-tertiary-default: $default-secondary-bluestrong;
$icon-button-tertiary-pressed: $default-primary-deepblue;

//Mandatory Mendix mapping
//== Brand Colors
$brand-default: transparent;
$brand-primary: $default-primary-blue;
$brand-success: $default-distinct-green;
$brand-warning: $default-distinct-yellow;
$brand-danger: $default-distinct-red;

// -- Gray Shades
// -- Different gray shades to be used for our variables and components
$gray-darker: $default-neutral-grey70;
$gray-dark: $default-neutral-grey60;
$gray: $default-neutral-grey50;
$gray-light: $default-neutral-grey40;
$gray-primary: $default-neutral-grey30;
$gray-lighter: $default-neutral-grey20;

/* 
=============================================================================
* Background colors
=============================================================================
*/

$bg-color: $background-surface;
$bg-color-secondary: $default-neutral-blueish-grey;
$bg-color-tertiary: $background-default;

/* 
=============================================================================
* Typography

  Font-family import & variables
=============================================================================
*/

// // Fallback of Open Sans (Open Source), when the imported Font-family doesn't show
// $font-family-import: "https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700";
// @if $font-family-import != false {
// 	// Only import, if the import is set
// 	@import url($font-family-import);
// }

$font-family-base: "Hanken Grotesk", Arial, sans-serif;
$font-base-size: 16px; // reminder: 16px (1rem) is the standard rot font-size of browsers
$font-size-default: 16px; //!DONT CHANGE THIS - CALCULATES REM
$line-height-base: 160%;

//Primitives
$fontsize-5xl:  3.375rem; //54px 
$fontsize-4xl:  2.5rem; //40px  
$fontsize-3xl:  2rem; //32px 
$fontsize-xxl:  1.6875rem; //27px 
$fontsize-xl:   1.5625rem; //25px 
$fontsize-l:    1.3125rem; //21px 
$fontsize-m:    1.1875rem; //19px 
$fontsize-s:    1.125rem; //18px 
$fontsize-xs:   1rem; //16px
$fontsize-xxs:  0.875rem; //14px
$fontsize-3xs:  0.75rem; //12px


$lineheight-xl: 160%;
$lineheight-l: 140%;
$lineheight-m: 120%;
$lineheight-s: 105%;
$lineheight-xs: 95%;
$lineheight-xxs: 90%;

$letterspacing-l: 0px;
$letterspacing-m: -0.5px;
$letterspacing-s: -1px;
$letterspacing-xs: -1.5px;

$fontfamily-brand: "ABCROM", Arial, sans-serif;
$fontfamily-default: "Hanken Grotesk", Arial, sans-serif;

$textdecoration-underline: 1px solid currentColor;
$textdecoration-doubleunderline: 2px solid currentColor;


// -- Font sizes (based on the value put in $font-base-size)
$font-size-h1: $fontsize-4xl;
$font-size-h2: $fontsize-3xl;
$font-size-h3: $fontsize-xl;
$font-size-h4: $fontsize-l;
$font-size-h5: $fontsize-s;
$font-size-h6: $fontsize-xs;

$font-size-large: $fontsize-s;
$font-size-small: $fontsize-xxs;
$font-size-tiny: $fontsize-3xs;

$font-label-size: $font-size-small;
$default-icon-size: $font-base-size;
$glyphicon-lg: $default-icon-size * 2;

// == Typography Colors
$font-base-color: $text-default;
$font-color-headers: $heading-default;

$brand-success-text: darken($brand-success, 20%);
$brand-warning-text: darken($brand-warning, 20%);
$brand-danger-text: darken($brand-danger, 20%);

/* 
=============================================================================
* Inputs
=============================================================================
*/

$form-input-padding-y: $spacing-inner-xs;
$form-input-padding-x: $spacing-inner-xs * 1.5;

// Min-height is being used for input fields
$input-field-minheight: calc(
  (#{$font-base-size} * #{$line-height-base}) + (2 * #{$form-input-padding-y})
);
$input-area-minheight: calc(
  (3 * #{$font-base-size} * #{$line-height-base}) +
    (2 * #{$form-input-padding-y})
);
$input-field-line-height: calc(
  #{$font-size-small} * #{$line-height-base} + (#{$font-size-small} / 10)
);

// == Form Colors
$form-label-color: $text-default;
$form-input-border-color: $border-strong;
$content-max-width: 800px;

/* 
=============================================================================
* Buttons
=============================================================================
*/

// Default button style
$btn-font-size: $font-base-size;
$btn-bordered: false !default; // Default value false, set to true if you want this effect
$btn-border-radius: $border-radius-default;

// Button Background Color
$btn-default-bg: transparent;
$btn-primary-bg: $default-primary-blue;
$btn-success-bg: $default-primary-blue;
$btn-warning-bg: $default-primary-blue;
$btn-danger-bg:$default-primary-blue;
$btn-inverse-bg: transparent;
$btn-info-bg: $default-primary-blue;

// Button Border Color
$btn-default-border-color: $default-primary-blue;
$btn-primary-border-color: $default-misc-transparant;
$btn-success-border-color: $default-misc-transparant;
$btn-warning-border-color: $default-misc-transparant;
$btn-danger-border-color: $default-misc-transparant;
$btn-inverse-border-color: $default-misc-transparant;
$btn-info-border-color: $default-misc-transparant;

// Button Text Color
$btn-default-color: $default-secondary-bluestrong;
$btn-primary-color: $text-button-primary-default;
$btn-success-color: $text-button-primary-default;
$btn-warning-color: $text-button-primary-default;
$btn-danger-color: $text-button-primary-default;
$btn-inverse-color: $default-secondary-bluestrong;
$btn-info-color: $text-button-primary-default;

$btn-link-color: $default-secondary-bluestrong;

// All buttons have the same focus state
$btn-focus: $border-focusoutline;

// To ensure that buttons used in combination with inputs are the same height
$btn-line-height: $input-field-line-height;
$btn-min-height: $input-field-minheight;

/* 
=============================================================================
* Labels
=============================================================================
*/

$label-default-color: $brand-default;
$label-primary-color: $brand-primary;
$label-success-color: $brand-success;
$label-warning-color: $brand-warning;
$label-danger-color: $brand-danger;

/* 
=============================================================================
* UI Customization
=============================================================================
*/

// Interactions
$default-transition-time: 0.8s;
$fast-transition-time: 0.2s;

// Box shadows
$default-box-shadow: (0 0 7px rgba(10, 19, 37, 0.2));

// Topbar
$topbar-bg: $background-surface;
$navtopbar-border-color: #fff;
$topbar-border-color: $topbar-border-color;
$topbar-minimalheight: unset;
$topbar-height: 82px;
$topbar-color: $text-default;
$navtopbar-color: $topbar-color;

// Navigation
$navigation-bg: transparent;
$navsidebar-padding: $spacing-inner-xs $spacing-inner-s $spacing-inner-xs
  $spacing-inner-m;
$navigation-focus: $brand-primary;

// List and grid colors
$grid-header-bg-color: $brand-default;
$grid-header-color: #fff;

// Borders
$default-border: 1px solid $gray-light;

//== Settings
//## Enable or disable your desired framework features
// Use of !important
$important-flex: false; // ./base/flex.scss
$important-spacing: false; // ./base/spacing.scss
$important-helpers: false; // ./helpers/helperclasses.scss

/*
==========================================================================
* %Placeholders & $Variables
==========================================================================
*/

$page-gutter-1024: 40px;
$page-gutter-1440: 80px;
$page-gutter-1920: 120px;

$column-gutter-1024: calc(12px / 2);
$column-gutter-1440: calc(24px / 2);
$column-gutter-1920: calc(24px / 2);
