/*
==========================================================================
*   Alerts - The default alert boxes in different styles
==========================================================================
*/

// Default alert box (no colors definitions)
.alert {
	.mx-image-viewer{
		height: 24px;
		width: 24px;
		display: flex;
		align-items: center; //Not nicely centered yet, in case of design system the text element or header when its single should have 120% lineheight. Best to style this conditionally.
	}
	border: 1px solid transparent;
	padding: $spacing-inner-l;
	border-radius: $border-radius-xs;
	min-height: 58px;
	width: fit-content;
	min-width: 320px; //as defined in design system figma
	max-width: 532px; //as defined in design system figma

	h1, h2, h3, h4, h5, h6 {
		font-size: $fontsize-xs;
		line-height: $lineheight-m;
		color: unset;
		font-weight: bold;
		margin-top: unset;
		margin-bottom: $spacing-inner-xs;
	}
	p:last-of-type{
		margin-bottom: 0px; //Reset to prevent the nice spacing in case of multiple paragraphs
	}
	// .heading-bullet-list {
	// 	margin-top: calc(#{$space-xxs} / 2);
	// }

	// .mx-text {
	// 	margin-bottom: unset;

	// 	& + .mx-text {
	// 		margin-left: unset;
	// 	}
	// }

	// .bullet-list {
	// 	.mx-text + .mx-text {
	// 		margin-left: unset;
	// 	}
	// }
}

/*
==========================================================================
*   Type of alerts (color definitions)

	Below, you'll find the colors defined in Bootstrap.
	Change the colors and extend where needed.
==========================================================================
*/

.alert-primary {
    color: $text-default;
    background-color: $background-informative;
    border-color:  $border-informative;
}

.alert-success {
    color: $text-default;
    background-color: $background-positive;
    border-color:  $border-positive;
}

.alert-warning {
    color: $text-default;
    background-color: $background-warning;
    border-color:  $border-warning;
}

.alert-danger {
    color: $text-default;
    background-color: $background-negative;
    border-color:  $border-negative;
}