/*
==========================================================================
* Breadcrumb
==========================================================================
*/

.breadcrumb {
  padding: 0;
  margin-bottom: 0;
  border-radius: unset;
  background: transparent;

  //-- link button styling
  a {
    color: $font-base-color;
    text-decoration: none;

    &:hover {
      color: $brand-primary;
    }

    &:not(:last-child):after {
      content: "/";
      color: $font-base-color;
      margin: 0 $space-xxs 0 $space-xs;
    }
  }

  //-- last item of a breadcrumb (if Text Widget is used - Default)
  > .mx-text {
    font-weight: bold;
  }

  //-- last item of a breadcrumb (if a Link button is used - Fallback)
  > a:last-child {
    cursor: default;
    font-weight: bold;

    &:hover,
    &:focus {
      color: $font-base-color;
      text-decoration: none;
    }
  }
}
