// /*
// ==========================================================================
// * Labels - The default rules for mendix labels
// ==========================================================================
// */

// Default badgets and labels

.badge{
	font-size: $font-size-default;
	padding-top: $spacing-inner-s;
	padding-bottom: $spacing-inner-s;
	padding-left: $spacing-inner-m;
	padding-right: $spacing-inner-m;
	border-radius: $border-radius-xs;
}

.badge-basic{
	color: $default-basic-darkgrey;
	background-color: $default-neutral-grey10;
}
.badge-emphasis{
	color: white;
	background-color: $default-distinct-red;
}

.label{
	font-size: $font-size-default;
	padding-top: $spacing-inner-s;
	padding-bottom: $spacing-inner-s;
	padding-left: $spacing-inner-m;
	padding-right: $spacing-inner-m;
	border-radius: $border-radius-xs;
}

.label-basic{
	color: $default-basic-darkgrey;
	background-color: $default-neutral-grey10;
}
.label-emphasis{
	color: white;
	background-color: $default-distinct-red;
}


// badgets with icons

.badge-warning{
	.mx-image-viewer{
		width: 7%;
	}
	.badge{
		color: $default-basic-darkgrey;
		background-color:#FDD7321A;
	}
}

.badge-error{
	.mx-image-viewer{
		width: 7%;
	}
	img{
		background-color: #EE32611A;
	}
	.badge{
		color: $default-basic-darkgrey;
		background-color: #EE32611A;
	}
}

.badge-informative{
	.mx-image-viewer{
		width: 7%;
	}
	.badge{
		color: $default-basic-darkgrey;
		background-color:#009EE31A;
	}
}

.badge-success{
	.mx-image-viewer{
		width: 7%;
	}
	img{
		background-color:#00BB531A;
	}
	.badge{
		color: $default-basic-darkgrey;
		background-color:#00BB531A;
	}
}


// Old styling from Jorian (all below)

// .label-default, %label-default {
// 	@include label($label-default-color, true);
// }

// .label-primary, %label-primary {
// 	@include label($label-primary-color, true);
// }

// .label-success, %label-success {
// 	@include label($label-success-color, true);
// }

// .label-info, %label-info {
// 	@include label($label-info-color, true);
// }

// .label-warning, %label-warning {
// 	@include label($label-warning-color, true);
// }

// .label-danger, %label-danger {
// 	@include label($label-danger-color, true);
// }

// // ==== Variations ====
// // Filled label colors

// .label-default-filled, %label-default-filled {
// 	@include label($label-default-color, false);
// }

// .label-primary-filled, %label-primary-filled {
// 	@include label($label-primary-color, false);
// }

// .label-success-filled, %label-success-filled {
// 	@include label($label-success-color, false);
// }

// .label-info-filled, %label-info-filled {
// 	@include label($label-info-color, false);
// }

// .label-warning-filled, %label-warning-filled {
// 	@include label($label-warning-color, false);
// }

// .label-danger-filled, %label-danger-filled {
// 	@include label($label-danger-color, false);
// }

// /*
// ==========================================================================
// * Label definitions – for usage in Datagrid 2
// ==========================================================================
// */

// // 

// .table {
// 	// If a table cell has the class "label" on it (set by dynamic classes), the cell will inherit the table styling...
// 	.td[class*="label"] {
// 		@include clear; 
// 	}

// 	// And set the values for the label on the text itself, instead of on the cell.
// 	.label-default {
// 		.td-text {
// 			@extend %label-default;
// 		}
// 	}

// 	.label-primary {
// 		.td-text {
// 			@extend %label-primary;
// 		}
// 	}

// 	.label-success {
// 		.td-text {
// 			@extend %label-success;
// 		}
// 	}

// 	.label-info {
// 		.td-text {
// 			@extend %label-info;
// 		}
// 	}

// 	.label-warning {
// 		.td-text {
// 			@extend %label-warning;
// 		}
// 	}

// 	.label-danger {
// 		.td-text {
// 			@extend %label-danger;
// 		}
// 	}
// }




// /*
// ==========================================================================
// * Label definitions – Attribute Helper Widget
// ==========================================================================
// */

// // =======================================================================
// // Note: These labels are created to accomodate the use in the Mendix Design System.
// // Each project has their own variables and quirks to work with, so you can
// // copy & paste the code below and put the labels on App level.
// // =======================================================================
// // TO DO: Define usage of labels + Attribute Helper in Living Styleguide

// // This part might get deprecated due to the eventual phasing out of Datagrid and Listviews.

// [label*="approved"] {
// 	@extend .label-success;
// }

// [label*="added"] {
// 	@extend .label-primary;
// }

// [label*="changed"] {
//   	@extend .label-info;
// }

// [label*="conflicteddata"] {
//   	@extend .label-warning;
// }

// [label*="deleted"] {
//   	@extend .label-danger;
// }
