/* 
==========================================================================
* Login layout -  The separate login pages styling
==========================================================================
*/

.login-container {
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}