$wizardfooter-height: 64px;

.wizard-footer {
    height: $wizardfooter-height;
    .mx-dataview-content{
      display: flex;
      justify-content: space-between;
    }
    .wizard-button-group{
      width: fit-content;
    }
  }

  .wizard-scrollcontainer{
    height: calc(100% - $wizardfooter-height);
  }


.region-content:has(.wizard-footer){
    & > .mx-scrollcontainer-wrapper{
      height: calc(100vh - $topbar-height - $wizardfooter-height) !important;
    }
}
