/* ==========================================================================
   Flex

   Flex classes
========================================================================== */

// Flex alignments
.align-children-start {
	align-items: flex-start;
}

.align-children-end {
	align-items: flex-end;
}

.align-children-center {
	align-items: center;
}

.row-left {
	display: flex;
	align-items: center;
	flex-flow: row;
	justify-content: flex-start;
}

.row-center {
	display: flex;
	align-items: center;
	flex-flow: row;
	justify-content: center;
}

.row-right {
	display: flex;
	align-items: center;
	flex-flow: row;
	justify-content: flex-end;
}

.col-left {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
}

.col-center {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.col-right {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	justify-content: center;
}
