/*
  ==========================================================================
  * Mixin - collection of all used mixins
  ==========================================================================
*/
// Default header for grids and lists
@mixin grid-header() {
  background-color: $grid-header-bg-color;
  color: $grid-header-color;
  font-weight: normal;
}

@mixin grid-label($primary-color, $primary-color-transparency) {
  .mx-datagrid-data-wrapper {
    @include label($primary-color, $primary-color-transparency);
  }
}


// Mixin label
@mixin label($primary-color, $primary-color-transparency: false) {
  @if ($primary-color-transparency) {
    background-color: rgba($primary-color, 0.2);
    color: $primary-color;
    vertical-align: middle;
  }
  
  @else {
    background-color: $primary-color;
    color: #fff;
  }

  font-size: $font-label-size;
  line-height: 19px;
  padding: 2.5px $space-xs;
  display: inline-block;
  border-radius: 20px;
  font-weight: normal;
}

//Mixin clear
@mixin clear {
    background-color: inherit;
    color: inherit;
    border-radius: inherit;
    font-size: inherit;
    line-height: inherit;
    vertical-align: inherit;
    font-weight: inherit;
}

/*
==========================================================================
* @Mixin for layout gutters (@include)
==========================================================================
*/

@mixin layout-gutter-mixin($isLayoutgrid: false) {
  transition: all 0.5s;
  @media (max-width: 1024px) {
    @if ($isLayoutgrid) {
      padding-left: $page-gutter-1024;
      padding-right: $page-gutter-1024;
    } @else {
      padding-left: $page-gutter-1024 - $space-sm;
      padding-right: $page-gutter-1024 - $space-sm;
    }
  }
  @media (min-width: 1025px) and (max-width: 1440px) {
    @if ($isLayoutgrid) {
      padding-left: $page-gutter-1440;
      padding-right: $page-gutter-1440;
    } @else {
      padding-left: $page-gutter-1440 - $space-sm;
      padding-right: $page-gutter-1440 - $space-sm;
    }
  }
  @media (min-width: 1440px) {
    @if ($isLayoutgrid) {
      padding-left: $page-gutter-1920;
      padding-right: $page-gutter-1920;
    } @else {
      padding-left: $page-gutter-1920 - $space-sm;
      padding-right: $page-gutter-1920 - $space-sm;
    }
  }
}

@mixin layout-scrollcontainer-gutter-mixin() {
  transition: all 0.5s;

  > .mx-scrollcontainer-wrapper {
    padding: $space-xl ($space-xl - $space-sm);
  }

  &:last-child > .mx-scrollcontainer-wrapper {
    > .mx-scrollcontainer-wrapper {
      padding-right: 0;
    }
  }

  @media (max-width: 1024px) {
    &:first-child > .mx-scrollcontainer-wrapper {
      padding-left: $page-gutter-1024 - $space-sm;
    }
    &:last-child > .mx-scrollcontainer-wrapper {
      padding-right: $page-gutter-1024 - $space-sm;
    }
  }
  @media (min-width: 1025px) and (max-width: 1440px) {
    &:first-child > .mx-scrollcontainer-wrapper {
      padding-left: $page-gutter-1440 - $space-sm;
    }
    &:last-child > .mx-scrollcontainer-wrapper {
      padding-right: $page-gutter-1440 - $space-sm;
    }
  }
  @media (min-width: 1440px) {
    &:first-child > .mx-scrollcontainer-wrapper {
      padding-left: $page-gutter-1920 - $space-sm;
    }
    &:last-child > .mx-scrollcontainer-wrapper {
      padding-right: $page-gutter-1920 - $space-sm;
    }
  }
}