// Scrollbar styling, does not work for Firefox browsers
// horizontal scrollbar should still be styled

// the scrollbar
::-webkit-scrollbar{
    width: 8px;
}
// the draggable scrolling handle
::-webkit-scrollbar-thumb{
    background: #86889D; 
    border-radius: 4px;
    &:hover {
        background: #86889D; 
    }
}
// the track (progress bar) of the scrollbar
::-webkit-scrollbar-track {
    background: #E7E8EB; 
}
::-webkit-scrollbar:horizontal{
    height: 8px;
}


