/*
==========================================================================
* Typography - The default rules for mendix typography
==========================================================================
*/

//-- Main body
html,
body {
	font-size: $font-size-default;
	line-height: $line-height-base;
	font-family: $font-family-base;
}

//-- Headings
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.mx-title {
	margin: $spacing-outer-xs 0;
}

h1,
h2,
.h1,
.h2,
.mx-title {

}

h3,
h4,
h5,
h6,
.h3,
.h4,
.h5,
.h6 {

}

//Heading XXL
h1,
.h1,
.mx-title {
	font-size: $font-size-h1;
	font-family: $fontfamily-brand;
	font-weight: bold;
	margin: $space-sm 0 $space-lg 0;
	line-height: $lineheight-xxs;
	letter-spacing: $letterspacing-xs;
} 

//Heading XL
h2,
.h2 {
	font-size: $font-size-h2;
	font-family: $fontfamily-brand;
	font-weight: bold;
	line-height: $lineheight-xxs;
	letter-spacing: $letterspacing-xs;
}

//Heading L
h3,
.h3 {
	font-size: $font-size-h3;
	font-family: $fontfamily-brand;
	font-weight: bold;
	line-height: $lineheight-xs;
	letter-spacing: $letterspacing-s;
}

//Heading M
h4,
.h4 {
	font-size: $font-size-h4;
	font-family: $fontfamily-brand;
	font-weight: bold;
	line-height: $lineheight-s;
	letter-spacing: $letterspacing-m;
}

//Heading S
h5,
.h5 {
	font-size: $font-size-h5;
	font-family: $fontfamily-brand;
	font-weight: bold;
	line-height: $lineheight-s;
	letter-spacing: $letterspacing-l;
}

//Heading XS
h6,
.h6 {
	font-size: $font-size-h6;
	font-family: $fontfamily-default;
	font-weight: medium;
	line-height: $lineheight-s;
	letter-spacing: $letterspacing-l;
}


p {
	font-size: $fontsize-m;
	margin: 0 0 $space-xs;
}

.POSTNL_Icons{
	font-family: "Design_System_Module$POSTNL_Icons";
}

//Styling to indicate usage of glyphicon and atlas icons
.mx-icon-lined, .glyphicon, .mx-icon-filled{
	// background-color: red !important;
}

%cta-text{
	font-size: $font-size-h6;
	font-family: $fontfamily-default;
	font-weight: bold;
	line-height: $lineheight-l;
	letter-spacing: $letterspacing-l;
	&:hover, &.active{
		text-decoration: underline;
	}
}

/*
==========================================================================
* Imports - Font imports
==========================================================================
*/


//-- Font Family Default - Hanken Grotesk
@font-face {
	font-family: "Hanken Grotesk";
	src: url("fonts/HankenGrotesk/HankenGrotesk-VariableFont_wght.ttf") format("truetype");
	font-weight: 100 900;
	font-style: normal;
}

@font-face {
	font-family: "Hanken Grotesk";
	src: url("fonts/HankenGrotesk/HankenGrotesk-Italic-VariableFont_wght.ttf") format("truetype");
	font-weight: 100 900;
	font-style: italic;
}


//-- Font Family Brand - ABC ROM
@font-face {
	font-family: "ABCROM";
	src: url("fonts/ABCROM/ABCROM-Bold.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
}

//-- Font Family PostNL Web
@font-face {
	font-family: "Postnl";
	src: url("fonts/PostNL/postnlweb-regular-webfont.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Postnl";
	src: url("fonts/PostNL/postnlweb-light-webfont.woff2") format("woff2");
	font-weight: light;
	font-style: normal;
}




.text-secondary{
	color: $default-secondary-bluestrong;
}



/*
==========================================================================
* Design Properties
==========================================================================
*/


.subtitle-l{
	font-family: $fontfamily-default;
	font-weight: regular;
	line-height: $lineheight-m;
	font-size: $fontsize-xl;
	letter-spacing: $letterspacing-l;
}

.subtitle-m{
	font-family: $fontfamily-default;
	font-weight: regular;
	line-height: $lineheight-m;
	font-size: $fontsize-m;
	letter-spacing: $letterspacing-l;
}

.subtitle-s{
	font-family: $fontfamily-default;
	font-weight: regular;
	line-height: $lineheight-m;
	font-size: $fontsize-s;
	letter-spacing: $letterspacing-l;
}



.text-large{
	font-family: $fontfamily-default;
	font-weight: regular;
	line-height: $lineheight-xl;
	font-size: $fontsize-s;
	letter-spacing: $letterspacing-l;
}

.text-bold{
	font-weight: bold;
}

.text-semibold{
	color: red;
}

.text-small{
	font-family: $fontfamily-default;
	font-weight: regular;
	line-height: $lineheight-xl;
	font-size: $fontsize-xxs;
	letter-spacing: $letterspacing-l;
}
